.Description
    display: grid
    padding: 10rem
    &__button
        background: transparent
        border: none
        cursor: pointer
        &--border
            img
                border: 3px solid purple
    &__imageContainer
        position: relative
        width:200px
        height:200px